body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    margin: 30px 0;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    width: 100%;
    aspect-ratio: 1 / 1;   /* cuadrado perfecto */
    overflow: hidden;     /* corta lo que sobresale */
    border-radius: 12px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* llena todo el cuadrado */
    display: block;
}

.card:hover {
    background: #334155;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: white;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    font-weight: bold;
    cursor: pointer;
}
